-- CreateTable
CREATE TABLE "Hospital" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "address" TEXT,
    "lat" DOUBLE PRECISION NOT NULL,
    "lng" DOUBLE PRECISION NOT NULL,
    "totalBeds" INTEGER NOT NULL,
    "erCapacity" INTEGER NOT NULL,
    "currentPatients" INTEGER NOT NULL DEFAULT 0,
    "availableBeds" INTEGER NOT NULL,
    "avgWaitTime" INTEGER NOT NULL,
    "contactNumber" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "lastUpdated" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Hospital_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Token" (
    "id" SERIAL NOT NULL,
    "patientName" TEXT NOT NULL,
    "patientAge" INTEGER NOT NULL,
    "hospitalId" INTEGER NOT NULL,
    "riskLevel" TEXT NOT NULL,
    "tokenNumber" INTEGER NOT NULL,
    "estimatedTime" INTEGER NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'WAITING',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Token_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TriageSubmission" (
    "submission_id" SERIAL NOT NULL,
    "patient_name" TEXT NOT NULL,
    "age" INTEGER NOT NULL,
    "gender" TEXT NOT NULL,
    "chest_pain" BOOLEAN NOT NULL,
    "breathing_difficulty" BOOLEAN NOT NULL,
    "heavy_bleeding" BOOLEAN NOT NULL,
    "unconscious" BOOLEAN NOT NULL,
    "severe_burns" BOOLEAN NOT NULL,
    "head_injury" BOOLEAN NOT NULL,
    "accident" BOOLEAN NOT NULL,
    "high_fever" BOOLEAN NOT NULL,
    "vomiting" BOOLEAN NOT NULL,
    "seizure" BOOLEAN NOT NULL,
    "pain_level" INTEGER NOT NULL,
    "symptom_duration_hours" INTEGER NOT NULL,
    "priority_score" INTEGER NOT NULL,
    "triage_category" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TriageSubmission_pkey" PRIMARY KEY ("submission_id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

